*{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
    display: flex;
    margin-top: 60px;
}
.interests{
    margin-left: 180px;
    background-color: #CA9BF7;
    border-radius: 20px;
}
.school{
    margin-left: 180px;
    background-color: #87CEEB;
    border-radius: 20px;
    margin-right: 50px;
}
.header{
    display: flex;
}
.pic-1 img{
    height: 350px;
    width: 600px;
    margin-top: 20px;
    margin-left: 180px;
    border-radius: 20px;
}
.block{
    display: block;
}
.school img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
.interests img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
.hobbies img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
.about{
    margin-top: 80px;
    font-size: large;
}
#sub{
    background-color: red;
    color: white;
    border-radius: 10px;
}
.hobbies{
    background-color:#FFC3B8;
    border-radius: 20px;
}
#back{
    width: 98%;
    height: 98%;
}